<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        <%=title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/faviconHHC.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/testimonial.css">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <%- include('partials/navbar.ejs') %>
            <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <span>Committed to care at your place</span>
                                    <h1 class="cd-headline letters scale">We care about your
                                        <strong class="cd-words-wrapper">
                                            <b class="is-visible">Health</b>
                                            <b>Grandparents</b>
                                            <b>Patients</b>
                                        </strong>
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay="0.1s">
                                        <%=slogan %>
                                    </p>
                                    <a href="#contact-form" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.5s" style="font-weight: bold;"> 
                                        Appointment 
                                    <i class="ti-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <!-- other slider in dump.txt -->
            </div>
        </div>
        <!-- slider Area End-->

        <!--? About Start-->
        <div class="about-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-35">
                                <span>About Our Company</span>
                                <h2>Welcome To Soin Domicile
                                </h2>
                            </div>
                            <p>We are a health care company providing care at home. We assist with nursing care 24/7 by professional HCA & nurses. Our moto is caring with compassion. </p>

                            <!-- <p>Our company, Home Health Care Support Ltd, also known as Soin Domicile, was founded in March 2020 with only 3 patients and 5 Nursing staffs.
                                <br> Today, we look after 30 patients all around the island including Dementia care, bedridden care or stroke care patients and we are now a team of appropriately 60 staff members who work on a rostering basis providing
                                healthcare at patients' house, soins a Domicile 24/7</p> -->

                            <p>We take care of convalescence & palliative patients in their own environment. we look after patients all around the island including Dementia care, bedridden care or stroke care patients thus providing healthcare at patients'
                                house, soins a Domicile 24/7.</p>
                            <p>
                                We also assist Doctors at Domicile giving in-house treatments instead of shifting the patient to casualty to get the required treatment unless the treatment cannot be provided at home or an emergency where samu needs to intervene leading to hospitalisation.
                            </p>
                            <div class="about-btn1 mb-30">
                                <a href="#contact-form" class="btn about-btn">Patient Appointment <i class="ti-arrow-right"></i></a>
                            </div>

                            <div class="about-btn1 mb-30">
                                <a href="/recruitment" class="btn about-btn">Apply for a job <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img d-none d-lg-block">
                                <img src="assets/img/gallery/deeya2.png" alt="">
                            </div>
                            <div class="about-back-img ">
                                <img src="assets/img/gallery/kunal2.jpg" alt="">
                                <!-- width="380" height="687" -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About  End-->

        <!--? department_area_start  -->
        <div class="department_area section-padding2">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="depart_ment_tab mb-30">
                            <!-- Tabs Buttons -->
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#doctorsfacility" role="tab" aria-controls="home" aria-selected="true">
                                        <i class="fi fi-rr-stethoscope"></i>
                                        <h4>Doctors Facility</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#palliativecare" role="tab" aria-controls="profile" aria-selected="false">
                                        <i class="fi fi-rr-doctor"></i>
                                        <h4>Palliative Care</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#healthcare" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-headset"></i>
                                        <h4>24/7 Health Care</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#colostomycare" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-pulse"></i>
                                        <h4>Colostomy Care</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#alzeihmercare" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-wheelchair"></i>
                                        <h4>Alzeihmer Care</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#bloodcollection" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-medicine"></i>
                                        <h4>Blood Collection</h4>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#babysitter" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-child-head"></i>
                                        <h4>Babysitter Facility</h4>
                                    </a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#bedsorecare" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-bed"></i>
                                        <h4>Bed Sore Care</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="" data-toggle="tab" href="#ivtreatments" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-treatment"></i>
                                        <h4>IV Treatments</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Blood-tab" data-toggle="tab" href="#physiotherapy" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fi fi-rr-band-aid"></i>
                                        <h4>Physiotherapy</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Blood-tab" data-toggle="tab" href="#chroniccare" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="flaticon-cell"></i>
                                        <h4>Chronic Care</h4>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="Blood-tab" data-toggle="tab" href="#Blood" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="flaticon-cell"></i>
                                        <h4>Blood Collection</h4>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="dept_main_info white-bg">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="doctorsfacility" role="tabpanel" aria-labelledby="doctorsfacility">
                           
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>Doctors Facility</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                                            vel facilisis. </p>
                                        <a href="#" class="dep-btn">Appointment<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="assets/img/gallery/department_man.png" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="tab-pane fade" id="palliativecare" role="tabpanel" aria-labelledby="sdccd-tab">
                           
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>Palliative Care</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                                            vel facilisis. </p>
                                        <a href="#" class="dep-btn">Appointment<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="assets/img/gallery/department_man.png" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="tab-pane fade" id="healthcare" role="tabpanel" aria-labelledby="healthvare-tab">
                           
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>24/7 Health Care</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                                            vel facilisis. </p>
                                        <a href="#" class="dep-btn">Appointment<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="assets/img/gallery/department_man.png" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="tab-pane fade" id="colostomycare" role="tabpanel" aria-labelledby="">
                           
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>Colostomy Care</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                                            vel facilisis. </p>
                                        <a href="#" class="dep-btn">Appointment<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="assets/img/gallery/department_man.png" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="tab-pane fade" id="alzeihmercare" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                           
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>Alzeihmer Care</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                                            vel facilisis. </p>
                                        <a href="#" class="dep-btn">Appointment<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="assets/img/gallery/department_man.png" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="tab-pane fade" id="bloodcollection" role="tabpanel" aria-labelledby="Blood-tab">
                           
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>Blood Collection</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                                            vel facilisis. </p>
                                        <a href="#" class="dep-btn">Appointment<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="assets/img/gallery/department_man.png" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div> 
                </div> -->

            </div>
        </div>
        <!-- depertment area end -->


        <!-- <div class="gallery-area section-padding30">
            <div class="container">
               
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-tittle text-center mb-100">
                           
                            <h2>Our Medical Camp</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery5.png);"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery6.png);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Gallery Area End

        <!--? All startups Start -->

        <!-- <div class="container" class="testimonial">
            <div class="row">
                <div class="col-md-8 col-center m-auto">
                    <h2>Testimonials</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                       
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="img-box"><img src="https://i.ibb.co/d5DY64w/img1.jpg" alt=""></div>
                                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse
                                    varius nibh non aliquet.</p>
                                <p class="overview"><b>Jennifer Smith</b>, Office Worker</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="https://i.ibb.co/5FF1vqz/img2.jpg" alt=""></div>
                                <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh,
                                    facilisis gravida odio.</p>
                                <p class="overview"><b>Dauglas McNun</b>, Financial Advisor</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="https://i.ibb.co/Trv7hDv/img3.jpg" alt=""></div>
                                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla
                                    massa. Etiam hendrerit dolor eget rutrum.</p>
                                <p class="overview"><b>Hellen Wright</b>, Athelete</p>
                            </div>
                        </div>
                      
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        <!--All startups End -->

        <!--? Team Start -->
        <div class="team-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-tittle text-center mb-100">
                            <span>Soin Domicile's Team</span>
                            <h2>Our Team</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/kunal.jpg" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Kunal Bagwan</a></h3>
                                <span>Chief Executive Officer & Geriatic Nurse</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/deeya.jpg" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Deeya Bagwan</a></h3>
                                <span>Manager</span>


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/doc.jpeg" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Dr Roma Dewan</a></h3>
                                <span>Doctor | General Practitioner</span>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        <!--? Contact form Start -->
        <% if (status) {%>
            <div class="container">
                <% if (status == true) {%>
                    <h3 style="text-align: center;font-size: 28px;margin: 5% auto;font-weight: bold;">Your message has been sent succesfully. We will revert back you to you soon.</h3>
                    <% } else { %>
                        <div style="text-align: center;font-size: 25px;margin: 45% auto;font-weight: bold;">
                            <h3>Your message was not sent succesfully.</h3>
                            <h4>Try again later.</h4>
                        </div>

                        <% } %>
            </div>
            <% } else { %>
                <div class="contact-form-main">
                    <div class="container">

                        <div id="contact-form" class="row justify-content-end">
                            <!-- <div class="col-xl-7 col-lg-7"> -->
                            <div class="form-wrapper">
                                <!--Section Tittle  -->
                                <div class="form-tittle">
                                    <div class="row ">
                                        <div class="col-xl-12">
                                            <div class="section-tittle section-tittle2">
                                                <span>Appointment Apply Form</span>
                                                <h2>Appointment Form</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Section Tittle  -->
                                <form action="/contactHome" method="POST">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box user-icon mb-30">
                                                <input type="text" name="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box email-icon mb-30">
                                                <input type="text" name="phone" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 mb-30">
                                            <div class="select-itms">
                                                <select name="service" id="select2">
                                                <option value="Doctors Facility">Doctors Facility</option>
                                                <option value="Palliative Care">Palliative Care</option>
                                                <option value="24/7 Health Care">24/7 Health Care</option>
                                                <option value="Colostomy Care">Colostomy Care</option>
                                                <option value="Alzeihmer Care">Alzeihmer Care</option>
                                                <option value="Blood Collection">Blood Collection</option>
                                                <option value="Babysitter Facility">Babysitter Facility</option>
                                                <option value="Bed Sore Care">Bed Sore Care</option>
                                                <option value="IV Treatments">IV Treatments</option>
                                                <option value="test">Physiotherapy</option>
                                                <option value="test">Chronic Care</option>
                                                <option value="test">Blood Collection</option>
                                                <option value="test">other</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box subject-icon mb-30">
                                                <input type="Email" name="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-box message-icon mb-65">
                                                <textarea name="description" id="message" placeholder="Message"></textarea>
                                            </div>

                                        </div>
                                        <div class="submit-info d-flex justify-content-center">
                                            <button class="btn" type="submit">Submit Now <i class="ti-arrow-right"></i> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- gallery Products End -->
                <!-- <div class="from-left d-none d-lg-block">
                        <img src="assets/img/gallery/contact_form.png" alt="">
                    </div> -->
                </div>
                <% } %>
                    <!-- Contact form End -->

                    <!--? gallery Products Start -->
                    <div class="gallery-area fix">
                        <div class="container-fluid p-0">
                            <div class="row no-gutters">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img " style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img " style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img " style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img " style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img " style="background-image: url(assets/img/gallery/gallery5.png);"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img " style="background-image: url(assets/img/gallery/gallery6.png);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- gallery Products End -->
                    <section id="Description-Recruit" class="mt-5">
                        <div class="container text-center">
                            <h3 class="text-heading ">Do you want to apply for a job or contact us?</h3>
                            <section id="Description-Recruit" class="mt-5">
                                <div class="container text-center">
                                    <a href="/recruitment" class="btn header-btn">Apply for job</a>
                                    <!-- <a href="tel:+23052562517" class="btn header-btn"> Call Us</a> -->
                                    <a href="https://api.whatsapp.com/send?phone=23052562517&text=Hi%20there!" class="btn header-btn">WhatsApp</a>
                                    </p>
                                </div>
                            </section>
                            </p>
                        </div>
                    </section>
                    <br><br><br>

    </main>
    <%- include('partials/chat.ejs') %>
        <footer>
            <!--? Footer Start-->
            <%- include('partials/footer.ejs') %>
                <!-- Footer End-->
        </footer>
        <!-- Scroll Up -->
        <div id="back-top">
            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>

        <!-- JS here -->

        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
        <!-- Nice-select, sticky -->
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>

        <!-- counter , waypoint -->
        <script src="./assets/js/jquery.counterup.min.js"></script>
        <script src="./assets/js/waypoints.min.js"></script>
        <script src="./assets/js/jquery.countdown.min.js"></script>
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

</body>

</html>